.Item {
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 25rem;
  display: flex;
  justify-content: space-between;
}

.Item:not(:last-child) {
  margin: 0 0 0.5rem;
}

.Item > span {
  flex: 1 1;
  margin: auto;
}

.Item > .ItemRemove {
  padding: 0.5rem 1rem;
  border: 1px solid var(--green);
  border-radius: 25rem;
  background-color: var(--green);
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
}

.Item > .ItemLabel {
  border: 0;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
